<div *ngIf="bookingBox" class="booking_form">

    <br><br>

    <mat-toolbar class="flex" style="background-color: #237e9f; margin: 20px; width: 98%;"><span>BooK Your
            Apponintment</span>
    </mat-toolbar><br>

    <div>


        <div class="flex">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput>
            </mat-form-field>

        </div>

        <div class="flex">

            <mat-form-field style="transform: translateX(-7%);" appearance="fill">
                <mat-label>Seletc Gender</mat-label>
                <mat-select>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                        {{gender.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->

            

        </div>

        <div class="flex">

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mail</mat-label>
                <input #mail type="email" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ph.no</mat-label>
                <input #phno type="number" matInput>
            </mat-form-field>

        </div><br><br>

        <div class="flex" style="align-items:flex-start">

            <div>
                <div class="bookingpart bk1">

                    <br>
                    <h1>{{thisMonth}}, {{thisYear}}</h1>

                    <div class="radio" *ngFor="let i of nextSixDays">

                        <input type="radio" class="radioInput" value="{{i.date}}-{{i.day}}" name="bookingDay"
                            id="{{i.id}}">

                        <label class="radioLable" for="{{i.id}}">

                            <span>{{i.day}}</span><br><br>
                            <b>{{i.date}}</b>

                        </label>

                    </div>

                </div> <br>

                <div class="bookingpart">

                    <br>
                    <h1>Time</h1>

                    <div class="radio">

                        <div>

                            <div>
                                <input type="radio" (change)="getValue($event)" class="radioInput" name="bookingTime"
                                    id="{{timing[0]}}" value="{{timing[0]}}">
                                <label class="radioLable" for="{{timing[0]}}">

                                    <b>{{timing[0]}}</b>

                                </label>
                            </div>

                            <div>
                                <input type="radio" (change)="getValue($event)" class="radioInput" name="bookingTime"
                                    id="{{timing[1]}}" value="{{timing[1]}}">
                                <label class="radioLable" for="{{timing[1]}}">

                                    <b>{{timing[1]}}</b>

                                </label>
                            </div>

                            <div>
                                <input type="radio" (change)="getValue($event)" class="radioInput" name="bookingTime"
                                    id="{{timing[2]}}" value="{{timing[2]}}">
                                <label class="radioLable" for="{{timing[2]}}">

                                    <b>{{timing[2]}}</b>

                                </label>
                            </div>

                        </div>
                        <div style="width:50px"></div>
                        <div>

                            <div>
                                <input type="radio" (change)="getValue($event)" class="radioInput" name="bookingTime"
                                    id="{{timing[3]}}" value="{{timing[3]}}">
                                <label class="radioLable" for="{{timing[3]}}">

                                    <b>{{timing[3]}}</b>

                                </label>
                            </div>

                            <div>
                                <input type="radio" (change)="getValue($event)" class="radioInput" name="bookingTime"
                                    id="{{timing[4]}}" value="{{timing[4]}}">
                                <label class="radioLable" for="{{timing[4]}}">

                                    <b>{{timing[4]}}</b>

                                </label>
                            </div>

                            <div>
                                <input type="radio" (change)="getValue($event)" class="radioInput" name="bookingTime"
                                    id="{{timing[5]}}" value="{{timing[5]}}">
                                <label class="radioLable" for="{{timing[5]}}">

                                    <b>{{timing[5]}}</b>

                                </label>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="flex bookingpart">

                <div>

                    <div>
                        <input type="radio" class="radioInput" name="bookingFor" id="{{bookingFor[0].depart}}"
                            value="{{bookingFor[0].depart}}">
                        <label class="radioLable" for="{{bookingFor[0].depart}}" style="height: 100px; width: 100px;">

                            <b> {{bookingFor[0].depart}} </b>
                            <br><br>
                            <span>{{selectedTime}} - {{bookingFor[0].eat}}</span>

                        </label>
                    </div>

                    <div style="height: 50px; width:100%"></div>

                    <div>
                        <input type="radio" class="radioInput" name="bookingFor" id="{{bookingFor[1].depart}}"
                            value="{{bookingFor[1].depart}}">
                        <label class="radioLable" for="{{bookingFor[1].depart}}" style="height: 100px; width: 100px;">

                            <b> {{bookingFor[1].depart}} </b>
                            <br><br>
                            <span>{{selectedTime}} - {{bookingFor[1].eat}}</span>

                        </label>
                    </div>

                </div>

                <div>

                    <div>
                        <input type="radio" class="radioInput" name="bookingFor" id="{{bookingFor[2].depart}}"
                            value="{{bookingFor[2].depart}}">
                        <label class="radioLable" for="{{bookingFor[2].depart}}" style="height: 100px; width: 100px;">

                            <b> {{bookingFor[2].depart}} </b><br><br>
                            <span>{{selectedTime}} - {{bookingFor[2].eat}}</span>

                        </label>
                    </div>

                    <div style="height: 50px; width:100%"></div>

                    <div>
                        <input type="radio" class="radioInput" name="bookingFor" id="{{bookingFor[3].depart}}"
                            value="{{bookingFor[3].depart}}">
                        <label class="radioLable" for="{{bookingFor[3].depart}}" style="height: 100px; width: 100px;">

                            <b> {{bookingFor[3].depart}} </b>
                            <br><br>
                            <span>{{selectedTime}} - {{bookingFor[3].eat}}</span>

                        </label>
                    </div>

                </div>

            </div>

        </div>

        <button id="bookBtn" mat-button (click)="action()">Book Apponintment</button>

    </div>

</div>

<div *ngIf="messageBox" class="messageBox flex">
    <h1>{{message}}</h1>
</div>