* {
    text-align: center;
}

.booking_form {
    background-color: white;
    border-radius: 10px;
}

.flexForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: auto;
    width: 50%;
}

mat-form-field {
    margin: 20px;
}

.messageBox {
    height: 300px;
    width: 100%;
}

.customDatePicker {
    height: 50px;
    font-size: 20px;
    margin: .4rem 0;
    border-radius: 10px;
    padding: 0 25px;
    border: none;
    outline: none;
    background-color: #f2f1f1;
    width: 12%;
    transform: translateX(-7%);
    
}

.radio {
    display: inline-flex;
    text-align: center;
}

.radioInput {
    visibility: hidden;
}

.radioLable {
    padding: 10px;
    background-color: white;
    font-size: 12px;
    margin: 0 5px;
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.radioInput:checked+.radioLable {
    background-color: #03bbfe;
}

.radioLable span {
    color: gainsboro;
}

.bookingpart {
    background-color: rgb(243, 241, 241);
    padding: 2% 2%;
    border-radius: 20px;
}

.bk1 {
    width: 110%;
}

#bookBtn {
    transform: translate(300%, -250%);
    color: white;
    background-color: #03bbfe;
}