.booking_cards {
    width: 100%;
    height: auto;
    text-align: center;
}

.booking_cards>h1 {
    padding-top: 2%;
}

.sub_booking_cards {
    padding: 2% 0%;
}

.booking_card {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: #b8e4f5;
    margin: 2%;
}

@keyframes cardAnimation {
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

.booking_card:hover {
    background-color: #c9edfb;
    animation-name: cardAnimation;
    animation-direction: alternate;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
}

.booking_card h2 {
    padding-top: 40%;
}

.booking_card a {
    color: #237e9f;
}

.cardsContainer{
    margin: 2.5% 2.5%;
    background-color: whitesmoke;
    width: 95%;
    height: auto;
}

ngb-carousel img {
    width: 40%;
    height: 30%;
    margin: 0 30%;
    padding: 3%;
}

.carousel-caption{
    color: gray;
}

.homeContent_1{
    background-color: #b8e4f5;;
}
.homeContent_1 img {
    width: 80%;
    height: 150%;
}

.homeContent_1 p{
    max-width: 80%;
    font-weight: lighter;
}

.homeContent_1>div{
    width: 40%;
    height: auto;
    margin: 2% 5%;
}