label {
    display: block;
    padding: 5px;
    position: relative;
    padding-left: 20px;
}

label input {
    display: none;
}

label span {
    border: 1px solid #ccc;
    width: auto;
    height: auto;
    padding: 2%;
    position: absolute;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    font-size: 10pt;
    left: 0;
    top: 50%;
    margin-top: -7.5px;
}

input:checked+span {
    background: #ccf;
    border-color: #ccf;
}